* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background: #182436;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid #fff;
  background: #011c97;
  flex-wrap: wrap;
  min-height: 65%;
  padding: 1.5rem;
  max-width: 80%;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  & h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
  }
}

.amount-container {
  text-align: center;
  width: 100%;
  & input {
    flex: 1;
    padding: 1rem 2rem;
    font-size: 2.2rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    outline: none;
    border: none;
    border-bottom: 3px solid #ffff;
    background: transparent;
    color: #fff;

    &::placeholder {
      color: #dadada;
    }
  }
}
select {
  width: 15rem;
  padding: 0.6rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  outline: none;
  border: none;
  border-bottom: 3px solid #ffff;
  background: transparent;
  color: #e2e2e2;
  font-size: 2rem;
  font-weight: bold;

  & option {
    background: #424242;
    height: 200px;
  }
}

.convert-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & p {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
  }
}
.convert {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-contaner {
  text-align: center;
  margin-top: 2rem;
}
.convert-btn {
  padding: 1rem 3rem;
  color: #fff;
  font-size: 2.5rem;
  outline: none;
  border: none;
  border-bottom: 3px solid #ffff;
  background: #00000010;
  color: #fff;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  &:hover {
    background: #00000031;
  }
  &:active {
    scale: 0.88;
    background: #0000009d;
  }
}

.result-container {
  width: 100%;
  background: #0000003a;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  outline: none;
  border: none;
  border-bottom: 3px solid #ffff;
  color: #fff;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffff;
}

@media screen and (width < 752px) {
  html {
    font-size: 55.5%;
  }
  header {
    & img {
      width: 14rem;
    }
    & h1 {
      font-size: 3.3rem;
    }
  }
  .convert-container {
    & img {
      width: 8rem;
    }
  }
}

@media screen and (width < 568px) {
  .amount-container {
    padding: 0;
  }
  .amount-container {
    & input {
      font-size: 1.9rem;
    }
  }
}

@media screen and (width < 468px) {
  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    & img {
      width: 20rem;
    }
    & h1 {
      font-size: 2.8rem;
    }
  }
  .amount-container {
    & input {
      font-size: 1.8rem;
    }
  }
  .convert-container {
    display: flex;
    flex-direction: column;
  }
  .amount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .result-container {
    font-size: 1.8rem;
  }
}

@media screen and (width < 400px) {
  header {
    & h1 {
      font-size: 2.9rem;
    }
  }
  header {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    & img {
      width: 19rem;
    }
  }
  .result-container {
    & p {
      font-size: 1.8rem;
    }
  }
}
